<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<!-- 생성자를 이용한 의존 객체 주입  -->
	<bean id="studentDao" class="ems.member.dao.StudentDao"></bean>
	
	<bean id="registerService" class="ems.member.service.StudentRegisterService">
		<!-- studentDao를 생성자 주입. 자바 코드의 assembler에 해당. 스프링객체를 컨테이너에 만들어서 사용 -->
		<!-- 레퍼런스에 내가 사용할 객체의 id를 넣어준다. -->
		<constructor-arg ref="studentDao"></constructor-arg>
	</bean>
	
	<bean id="modifyService" class="ems.member.service.StudentModifyService">
		<constructor-arg ref="studentDao"></constructor-arg>
	</bean>
	
	<bean id="deleteService" class="ems.member.service.StudentDeleteService">
		<constructor-arg ref="studentDao"></constructor-arg>
	</bean>
	
	<bean id="selectService" class="ems.member.service.StudentSelectService">
		<constructor-arg ref="studentDao"></constructor-arg>
	</bean>
	
	<bean id="allSelectService" class="ems.member.service.StudentAllSelectService">
		<constructor-arg ref="studentDao"></constructor-arg>
	</bean>
	
	<!-- setter를 이용한 의존 객체 주입  -->
	<bean id="dataBaseConnectionInfoDev" class="ems.member.DataBaseConnectionInfo">
		<property name="jdbcUrl" value="jdbc:oracle:this:@localhost:1521:xe"></property>
		<property name="userId" value="scott"></property>
		<property name="userPw" value="tiger"></property>
	</bean>
	
	<bean id="dataBaseConnectionInfoReal" class="ems.member.DataBaseConnectionInfo">
		<property name="jdbcUrl" value="jdbc:oracle:this:@192.168.0.1:1521:xe"></property>
		<property name="userId" value="scott"></property>
		<property name="userPw" value="tiger"></property>
	</bean>
	
	<bean id="informationService" class="ems.member.service.EMSInformationService">
		<property name="info">
			<value>Education Management System program was developed in 2021.</value>
		</property>
		<property name="copyRight">
			<value>COPYRIGHT(C) 2015 EMS CO., LTD. ALL RIGHT RESERVED. CONTACT MASTER FOR MORE INFORMATION.</value>
		</property>
		<property name="ver">
			<value>The version is 1.0</value>
		</property>
		<property name="sYear">
			<value>2015</value>
		</property>
		<property name="sMonth">
			<value>1</value>
		</property>
		<property name="sDay">
			<value>1</value>
		</property>
		<property name="eYear" value="2015"></property>
		<property name="eMonth" value="2"></property>
		<property name="eDay" value="28"></property>
		
		<!-- 파라미터로 리스트가 들어와야 할 때 리스트 태그를 이용해서 넣을 수 있다.  -->
		<property name="developers">
			<list>
				<value>Cheney.</value>
				<value>Eloy.</value>
				<value>Jasper.</value>
				<value>Dilon.</value>
				<value>Kian.</value>
			</list>
		</property>
		
		<!-- Map 타입 객체 주입  -->
		<property name="administrators">
			<map>
				<entry>
					<key>
						<value>Cheney</value>
					</key>
					<value>cheney@springPjt.org</value>
				</entry>
				<entry>
					<key>
						<value>Jasper</value>
					</key>
					<value>jasper@springPjt.org</value>
				</entry>
			</map>
		</property>
		
		<property name="dbInfos">
			<map>
				<entry>
					<key>
						<value>dev</value>
					</key>
					<!-- value에 해당하는것이 객체. 레퍼런스로 위에 있는 객체를 통째로 주입한다.  -->
					<ref bean="dataBaseConnectionInfoDev"/>
				</entry>
				<entry>
					<key>
						<value>real</value>
					</key>
					<ref bean="dataBaseConnectionInfoReal"/>
				</entry>
			</map>
		</property>
	</bean>
</beans>